* {
  box-sizing: border-box;
}

body {
  background-color: #3333FF;
}

.page-content {
  position: relative;
}


/************************************************* navigation bar styling */
.navigation-bar {
  padding: 10px;
  background-color: #323D4B;
}

.navigation-links {
  text-align: left;


}

.navigation-links span {
  margin-right: 15px;
  font-weight: bold;
}

.navigation-links input {
  background-color: #525762;
  border: none;
  border: solid 1px #FFF;
}

.navigation-links ::placeholder {
  color: #FFF;
}

/******************************************************** form styling */
.form {
  width: 50%;
  background-color: #CCCCFF;
}

.label {
  color: #E4E4E4;
}

.name {
  width: 50%;
}

.email {
  width: 50%;
}

.message {
  width: 50%;
  height: 30vh;
}

.response {
  height: 20px;
}


/******************************************************** footer styling */

.footer-container {
  position: absolute;
  width: 100%;
  top: 100%;

}
.footer-links span{
  display: inline-block;


}
