* {
  box-sizing: border-box;
}

body {
  background-color: #AAAAFF;
}

.navigation-links {
  text-align: left;


}

.navigation-links span {
  margin-right: 15px;
}






.form {
  width: 50%;
  background-color: #9999FF;
}

.label {
  color: #E4E4E4;
}

.name {
  width: 50%;
}

.email {
  width: 50%;
}

.message {
  width: 50%;
  height: 30vh;
}
